
    <h1><%= title %></h1>

    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li>❌ <%= error.msg %></li>
        <%  }) %>
        </ul>
    <% } %>

    <form action="/inv/update" method="post" class="edit-inventory" id="updateForm">
        <label for="classificationList">Classification</label>
        <%- classificationList %>
        
        <label for="inv_make">Make</label>
        <input type="text" id="inv_make" name="inv_make" placeholder="Min of 3 characters" title="Min of 3 letters." value="<%= locals.inv_make %>" required>

        <label for="inv_model">Model</label>
        <input type="text" id="inv_model" name="inv_model" placeholder="Min of 3 characters" title="Min of 3 characters."  value="<%= locals.inv_model %>" required>

        <label for="inv_description">Description</label>
        <textarea name="inv_description" id="inv_description" placeholder="Type here" required><%= locals.inv_description || '' %></textarea>

        <label for="inv_image">Image Path</label>
        <input type="text" id="inv_image" name="inv_image" placeholder="Type here" pattern="^.*\.(jpg|jpeg|png|gif|bmp|webp|svg)$" title="Must be a valid path (.jpg, .jpeg, .png, .gif, .bmp, .webp o .svg)" value="<%= locals.inv_image %>" required>

        <label for="inv_thumbnail">Thumbnail Path</label>
        <input type="text" id="inv_thumbnail" name="inv_thumbnail" placeholder="Type here" pattern="^.*\.(jpg|jpeg|png|gif|bmp|webp|svg)$" title="Must be a valid path (.jpg, .jpeg, .png, .gif, .bmp, .webp o .svg)" value="<%= locals.inv_thumbnail %>" required>

        <label for="inv_price">Price</label>
        <input type="number" id="inv_price" name="inv_price" placeholder="Decimal of integer" value="<%= locals.inv_price %>" required>

        <label for="inv_year">Year</label>
        <input type="text" id="inv_year" name="inv_year" placeholder="4-digit year" pattern="^\d{4}$" title="Enter a 4-digit year" value="<%= locals.inv_year %>" required>

        <label for="inv_miles">Miles</label>
        <input type="number" id="inv_miles" name="inv_miles" placeholder="digits only" value="<%= locals.inv_miles %>" required>

        <label for="inv_color">Color</label>
        <input type="text" id="inv_color" name="inv_color" placeholder="Type here" value="<%= locals.inv_color %>" required>

        <button type="submit" disabled>Update Vehicle</button>      
        
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>

    </form>

    <script src="/js/inv-update.js"></script>

